.app {
  &__wrapper {
    margin: 4rem 12rem;

    @include respond(-xtralarge) {
      margin: 4rem 10rem;
    }

    @include respond(-large) {
      margin: 4rem 9rem;
    }

    @include respond(-medium) {
      margin: 3.8rem 8rem;
    }

    @include respond(-small) {
      margin: 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: $color-light;
    padding: 5rem 6rem;
    border-radius: 5em;
    border: 2px dotted $color-light-1;

    @include respond(-medium) {
      padding: 4.5rem 5.5rem;
    }

    @include respond(-small) {
      padding: 4rem 5rem;
      border-radius: 0;
      border: none;
    }

    @include respond(-smaller) {
      padding: 3.5rem 4.5rem;
    }

    @include respond(-smallest) {
      padding: 2.5rem 3.5rem;
    }
  }

  &__title {
    margin-bottom: 4rem;
    font-size: 2.4rem;
    letter-spacing: 8px;
    display: flex;
    position: relative;

    & i {
      color: $color-dark;
      position: absolute;
      font-size: 2.9rem;
      top: 1.2rem;
      left: 35.4rem;

      @include respond(-large) {
        left: 36rem;
        font-size: 2.85rem;
      }

      @include respond(-medium) {
        left: 36.9rem;
        font-size: 3rem;
      }

      @include respond(-small) {
        top: 1.3rem;
      }

      @include respond(-smallest) {
        left: 37rem;
      }
    }
  }

  &__bar {
    margin-bottom: 4.5rem;
  }
}