$color-green: rgb(154, 252, 154);
$color-yellow: rgb(246, 251, 152);
$color-orange: rgb(251, 210, 152);
$color-red: rgb(246, 167, 160);
$color-purple: rgb(198, 172, 243);
$color-brown: rgb(212, 198, 178);
$color-dark: rgb(36, 36, 36);
$color-light: rgb(242, 242, 242);
$color-light-1: rgb(192, 192, 192);
$color-light-2: whitesmoke;